extends layout

block content
    #art_container
    div.container#playlist
        div.row
            div.col-md-12(style='height: 50px')
        div.row
            div.col-md-4.col-md-offset-4
                div.todo
                    div.todo-search.last#search-container
                        input#song-input(type='search', value='', placeholder='Search For a Song', class='todo-search-field')
                    ul#search-results
            div.col-md-1
                div.fui-play#play_button(style='display:none')
        div.row
            div.col-md-4.col-md-offset-4
                #player-container
 

        